<div id="mainslider" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <div class="row-fluid">
                <div class="span12">
                    <a href="http://rally.org/ivoices/" target="_blank"><img src="/img/sliders/1.png" /></a>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row-fluid">
                <div class="span8">
                    <iframe width="540" height="300" src="http://www.youtube.com/embed/Gx-R2lfg9UI?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="span4" id="slider_slogan">
                    <h3><a href="/submit/index" style="text-decoration: underline;">Submit</a> your videos to</h3>
                    <h2>Irrepressible Voices</h2>
                    <h4>Make your voice heard!</h4>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#mainslider" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#mainslider" data-slide="next">&rsaquo;</a>
</div>

<hr />

<div class="row-fluid">
    <div class="span4">
        <h2>Get Involved!</h2>

        <p>Are you a blogger, citizen journalist or activist? <br />Then you are an <strong>"Irrepressible Voice"</strong> - <br />read how to <a href="/cms/involved">get involved</a>!</p>
        <img src="/img/get_involved.jpg" />
    </div>
    <div class="span4">
        <h2>Stay tuned for our <a href="/blog/index">Blog</a></h2>

        <h4><?php echo $this->firstBlog['article_title'] ?></h4>
        <br />
        <p><?php echo $this->truncate((strip_tags($this->firstBlog['article_content'])), 0, 240, 'aa', '... <a href="/blog/view/'. $this->firstBlog['article_id'].'">[read more]</a>') ?></p>
    </div>
    <div class="span4">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Firrvoi&amp;width=260&amp;height=320&amp;show_faces=true&amp;colorscheme=light&amp;stream=true&amp;border_color&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:260px; height:320px;" allowTransparency="true"></iframe>
    </div>
</div>

<div class="row-fluid row-bordertop" style="margin-top: 10px;">
    <div id="partners">
        <ul>
            <li><img src="/img/partner/1.png" width="324" height="55" /></li>
            <li><img src="/img/partner/2.png" width="324" /></li>
            <li><img src="/img/partner/3.png" width="324" /></li>
            <li><img src="/img/partner/4.png" width="324" /></li>
            <li><img src="/img/partner/5.png" width="324" /></li>
            <li><img src="/img/partner/6.png" width="324" /></li>
        </ul>
    </div>
</div>
