<div class="row-fluid">
    <div class="span4">

    </div>
    <div class="span8">
        <p>Irrepressible Voices provides the most secure way to make your voices heard. You do not need an email address or any other personal data to register.</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span4">
        <form name="login" method="post" action="/index/login">
            <fieldset>
                <legend>Login</legend>

                <label for="username">Username</label>
                <input id="username" type="text" name="login[username]" placeholder="">

                <label for="password">Password</label>
                <input id="password" type="password" name="login[password]" placeholder="">
                <br />
                <button type="submit" class="btn">Login</button>
            </fieldset>
        </form>
    </div>
    <div class="span4">
        <form name="login" method="post" action="/index/login">
            <fieldset>

                <legend>Register</legend>

                <label for="register_username">Username</label>
                <input id="register_username" type="text" name="register[username]" placeholder="">

                <label for="register_username">E-Mail Address</label>
                <input id="register_username" type="text" name="register[email]" placeholder="">

                <label for="register_password">Password</label>
                <input id="register_password" type="password" name="register[password]" placeholder="">

                <label for="register_password_2">Repeat Password</label>
                <input id="register_password_2"  name="register[password2]" type="password" placeholder="">
                <br />
                <button type="submit" class="btn">Register</button>
            </fieldset>
        </form>
    </div>
    <div class="span4">
        <form name="login" method="post" action="/index/login">
            <fieldset>
                <legend>Register anonymously</legend>

                <label for="registeranon_username">Username</label>
                <input id="registeranon_username" type="text" name="register_anon[username]" placeholder="">

                <label for="registeranon_password">Password</label>
                <input id="registeranon_password" type="password" name="register_anon[password]" placeholder="">

                <label for="registeranon_password_2">Repeat Password</label>
                <input id="registeranon_password_2"  name="register_anon[password2]" type="password" placeholder="">
                <br />
                <button type="submit" class="btn">Register anonymously</button>
            </fieldset>
        </form>
    </div>
</div>