<h2>Your video has been successfully uploaded.</h2>
<p>To comply with rules in our country, your video has to be approved this can take up to 12 hours.<br>
Over 99.9% of videos submitted last month were approved and are now Irrepressible voices in our <a href="/video">video gallery</a>.
</p>

<hr />

<?php if($this->upload_id): ?>
<h3>Add more information?!</h3>
<p>The more information we have about your story, the stronger your story becomes. Please add additional information here, so journalist can tell your true story.</p>

<form action="/submit/success" method="post">
<input type="hidden" name="upload_id" value="<?php echo $this->upload_id ?>" />
<div class="row-fluid">
    <div class="span6">
        <legend>Tags</legend>
        <input type="text" class="input-xlarge" name="tags" placeholder="Type something…" />

        <legend>Describe what has happend</legend>
        <textarea name="desc" class="input-xlarge" rows="4"></textarea>
    </div>
    <div class="span6">
        <legend>Category</legend>
        <select name="issue" class="input-xlarge">
            <?php foreach($this->categories as $value): ?>
                <option value="<?php echo $value ?>"><?php echo $value ?></option>
            <?php endforeach; ?>
        </select>


        <legend>Personal statement</legend>
        <textarea name="statement" class="input-xlarge" rows="4"></textarea>
    </div>
</div>
<div class="row-fluid">
    <div class="form-actions">
        <button type="submit" id="submitbtn" class="btn btn-primary">Submit</button>
        <button type="button" id="btn" class="btn" onclick="location.href='/';">Back to Home</button>
    </div>
</div>
</form>
<?php else: ?>
<h4>Thank you!</h4>
<?php endif; ?>