<?php $data = $this->videodata; ?>
<h3><?php echo $data['upload_title'] ?> <small>Add/Edit Information</small></h3>
<hr />
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<form action="/videos/edit/<?php echo $data['upload_published'] ?>" method="post">
    <input type="hidden" name="upload_id" value="<?php echo $data['upload_id'] ?>" />
    <div class="row-fluid">
        <div class="span8">
            <legend>Place</legend>
            <input type="text" name="place" id="searchTextField" class="input-xxlarge" value="<?php echo $data['upload_place'] ?>" />
            <div id="map_canvas"></div>
            <br />
        </div>
        <div class="span4">
            <legend>Date recorded</legend>
            <input type="date" name="recorded" value="<?php echo $data['upload_tags'] ?>" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <legend>Tags</legend>
            <input type="text" class="input-xlarge" name="tags" value="<?php echo $data['upload_tags'] ?>" />

            <legend>Describe what has happend</legend>
            <textarea name="desc" class="input-xlarge" rows="4"><?php echo $data['upload_desc'] ?></textarea>
        </div>
        <div class="span6">
            <legend>Category</legend>
            <select name="issue" class="input-xlarge">
                <?php foreach($this->categories as $value): ?>
                <option <?php if($data['upload_issue'] == $value): ?>selected="selected" <?php endif; ?>value="<?php echo $value ?>"><?php echo $value ?></option>
                <?php endforeach; ?>
            </select>


            <legend>Personal statement</legend>
            <textarea name="statement" class="input-xlarge" rows="4"><?php echo $data['upload_statement'] ?></textarea>
        </div>
    </div>
    <div class="row-fluid">
        <div class="form-actions">
            <button type="submit" id="submitbtn" class="btn btn-primary">Submit</button>
            <button type="button" id="btn" class="btn" onclick="location.href='/videos/view/<?php echo $data['upload_published'] ?>';">Back to Video</button>
        </div>
    </div>
</form>