<?php
$data = $this->videodata;
?>
<div class="row-fluid">
    <div class="span7">
        <script type="text/javascript">
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;
            function onYouTubePlayerAPIReady() {
                player = new YT.Player('ytplayer', {
                    height: '350',
                    width: '480',
                    videoId: '<?php echo $this->video->getVideoId() ?>'
                });
            }
        </script>
        <div id="ytplayer"></div>
    </div>
    <div class="span5">
        <div class="row-fluid">
            <div class="span12" style="padding-top:10px;">
                <p><span style="font-size: 22px; color: #0087c1;"><?php echo $this->video->getVideoTitle() ?></span></p>
                <div style="border: 1px solid #ccc; padding: 5px;<?php if(!isset($data['upload_place'])): ?>display:none;<?php endif; ?>">
                    <div class="row-fluid">
                        <div class="span8">
                            <?php if($data['upload_place']): ?>
                                <p><strong>Place:</strong><br /><small><a target="_blank" href="http://maps.google.com/?q=<?php echo urldecode($data['upload_place']); ?>"><?php echo $data['upload_place']; ?></small></a></p>
                            <?php endif; ?>
                            <?php if($data['upload_recorded']): ?>
                                <p><strong>Recorded Date:</strong> <?php echo $data['upload_recorded']; ?></p>
                            <?php endif; ?>
                            <?php $login = new Zend_Session_Namespace('login'); if($login->user_id && $this->verfied_self == false): ?>
                                <button class="btn btn-success" onclick="if(confirm('Are you sure?')) location.href='/videos/verify/<?php echo $this->video->getVideoId() ?>';">verify place & recorded date</button>
                            <?php elseif( $this->verfied_self == false ): ?>
                                <p><small>You need to be <a href="/index/login">logged in</a> to verfiy and add information</small></p>
                            <?php endif; ?>
                        </div>
                        <div class="span4" style="text-align: center; padding-top: 5px;">
                            <span style="font-size:20px;"><?php echo count($this->verfied) ?></span><br />
                            <span style="font-size:10px;">People verfied</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row-fluid" style="padding-top: 15px;">
            <div class="span21">
                <?php if($data['upload_desc']): ?>
                <p><strong>Description:</strong><br /><small><?php echo $data['upload_desc']; ?></small></p>
                <?php endif; ?>
                <?php if($data['upload_statement']): ?>
                <p><strong>Personal Statement:</strong><br />
                    <small><?php echo $data['upload_statement']; ?></small></p>
                <?php endif; ?>
                <?php if($data['upload_issue']): ?>
                <p><strong>Issue:</strong> <?php echo $data['upload_issue']; ?></p>
                <?php endif; ?>
                <?php if($data['upload_tags']): ?>
                <p><strong>Tags:</strong> <?php echo $data['upload_tags']; ?></p>
                <?php endif; ?>
                <?php if(isset($login->user_id)): ?>
                <button class="btn btn-mini" onclick="location.href='/videos/edit/<?php echo $this->video->getVideoId() ?>';">add/edit information</button>
                <?php endif; ?>
                <div class="row-fluid" style="padding-top: 10px;">
                    <span class="badge badge-warning">Duration: <?php
                        $time = new Zend_Date();
                        $time->setTime('00:00:00');
                        $time->addSecond($this->video->getVideoDuration());
                        echo $time->toString('HH:mm:ss'); ?></span>
                    <span class="label label-info"><?php echo $this->video->getVideoViewCount() ?> views</span>
                    <?php if(isset($login->user_id)): ?>
                    <button class="btn btn-mini" onclick="$('#info_report').modal('show');">report incorrect</button>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid row-bordertop" style="margin-top: 15px; margin-bottom: 20px;">
    <div class="span12">
        <h5>Comments:</h5>

        <?php if(count($this->comments) >= 1): ?>
            <?php foreach($this->comments as $value): ?>

                <strong><?php echo $value['user_username'] ?></strong> / created <?php echo $value['comment_date'] ?>:<br />
                <pre><?php echo $value['comment_message'] ?></pre>
                <hr />

            <?php endforeach; ?>
        <?php else: ?>
            <p><small>No Comments</small></p>
        <?php endif; ?>

        <?php $login = new Zend_Session_Namespace('login'); if($login->user_id): ?>
            <div style="border: 1px solid #ccc; padding: 5px;">
                <form action="/videos/view/<?php echo $this->video->getVideoId() ?>" method="post">
                    <h5>Add new Comment:</h5>
                    <small>Message:</small><br />
                    <textarea name="message" class="span11"></textarea>
                    <br />
                    <button class="btn btn-success">save</button>
                </form>
            </div>
        <?php else: ?>
            <div style="border: 1px solid #ccc; padding: 5px;">
                <h5>Add new Comment:</h5>
                <p>Only logged in users can add comments. <a href="/index/login">Login</a> and <a href="/index/register">register</a>.</p>
            </div>
        <?php endif; ?>
    </div>
</div>

<div id="info_report" class="modal hide fade">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Attention please</h3>
</div>
<div class="modal-body">
    <p>Attention, if you press this button, we will receive a message that you found invalid information. We will get back to you!</p>
</div>
<div class="modal-footer">
    <a href="/videos/report/<?php echo $this->video->getVideoId() ?>" class="btn btn-error">Report!</a>
    <a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
</div>
</div>

