<h3>About us</h3>

<div class="row-fluid" style="">
    <div class="span9" style="border: 1px solid #ccc; padding: 5px; margin-bottom: 15px;">

        <?php /*
        <strong>Irrepressible Voices (IV) seeks to become the leading
        Internet-based participation platform for videos about human rights
        issues.</strong></br>

        <br>It wants to draw attention to concrete Human Rights issues and will
        develop strategies to improve the situation together with partner
        experts.</br><br />Irrepressible Voices combines
        <ul>
            <li>videos & visual reports to document human rights issues with</li>
            <li>the community as a network to discuss, rate, verify and work on solution proposals with partner experts</li>
        </ul>
        */ ?>
        <h4>who we are</h4>

        <h5>Empower people, raise awareness, create change!</h5>
        <strong>Irrepressible Voices (IV) is an Internet-based participation platform for videos about human rights issues.</strong></br>
        <br>It draws attention to concrete Human Rights issues and develop strategies to improve the situation tworking closely with a network of experienced partners.</br>
        Irrepressible Voices combines
        <ul>
            <li>videos & visual reports to document human rights issues with</li>
            <li>the community as a network to discuss, rate, verify and work on solution proposals with partner experts. </li>
        </ul></br>

        <h4>what we do</h4>
        <strong>IV connects the <i>Irrepressible Voices</i> with strong partners</strong></br>
        <h5><i>Irrepressible Voices</i></h5>
        Everyone - activist, citizen journalist or blogger - who submits a video to Irrepressible Voices is an <i>Irrepressible Voice</i>.  Irrepressible Voices wants you to make your voice heard. Within the community the Irrepressible Voices users discuss, comment and verify videos about human rights.  Trough crowd sourcing the Irrepressible Voices, that is YOU, will decide on which subject to work on with the help of a network of experienced stakeholders for troubleshooting.

        <strong>IV will change the approach from top down to bottom up</strong></br>
        Irrepressible Voices believes in enforcing Human rights bottom up-wise through the participation of its users who keep the platform alive.
        Most human rights NGOs decide top down on which issue they’ll write their next report or start their next campaign by sending out their researcher who select their topics. Irrepressible Voices will turn this process upside down. We want people all over the world to decide bottom up what to talk about. This way we can avoid any form of top-down censorship and keep the platform open for contributions from anybody, free of charge and as a non-profit organisation.</br>
        </br>
        <strong>Security</strong></br>
        To avoid any danger for the <i>Irrepressible Voices</i>, we provide a secure way to upload videos. Videos will be uploaded to
        <a target="_blank" href="https://www.filepicker.io/">filepicker.io</a> - an online application. We download this file from filepicker. We then upload the videos with our YouTube ID to our <a href="http://www.youtube.com/user/irrepressiblevoices" target="_blank">YouTube channel</a>, and the original file on filepicker will automatically be deleted. This ensure that the IP address of our <i>Irrepessible Voices</i> is hidden and that their identity is safe.</br>
        </br>
        All principles reflect in our motto:</br>
        <strong>Irrepressible Voices will make your voice heard!</strong>

        <h3>Partners</h3>
        <strong>IV will be the human rights platform for genuine verified media compatible video content:</strong></br>
        Mass Media is quoting “the Internet” as a source, often without the information being reliable. But to be able to deliver the important message to international media and raise awareness to the cause, reliable and verified content must be guaranteed. This is where Irrepressible Voices comes in: We will establish the digital watermark for video content for the international media by providing only genuine, verified content.</br>
        </br>


    </div>
    <div class="span3" style="text-align: center;padding-top: 35px;">
        <div class="row-fluid">
            <button class="btn btn-info btn-large" onclick="location.href='/cms/involved';">Get involved!</button>
        </div>
        <br />
        <div class="row-fluid">
            <button class="btn" style="color:#0087c1;" onclick="location.href='/cms/vision';">Our Vision</button>
        </div>
        <br />
        <div class="row-fluid">
            <button class="btn" style="color:#0087c1;" onclick="location.href='/cms/history';">History</button>
        </div>

    </div>
</div>