<?php if($this->submitted): ?>
<h3>Thank you for your message!</h3>

<p>We really appreciate your interest in Irrepressible Voices and are looking
forward to working with you. Together we can ensure that every individual
who has had their human rights violated is heard by a global audience and
gets the support that they need to effect real change in their communities
and country.</p>

<p>We are always happy to answer any questions you may have and would like to
hear any suggestion you may have. We have received your message and will
get back to you as soon as possible.</p>
<p>Thank you,<br /><br />The Irrepressible Voices Team.</p>
<?php else: ?>
<h3>Send us a message</h3>
<p>We want to hear from you! Just enter your name, email address, and message into the form below and send away.</p>
<p>All fields are required</p>
<form class="form-horizontal" method="post" action="/cms/contact">
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" id="name" class="input-xxlarge" name="contact[name]" placeholder="Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input type="password" id="email" class="input-xxlarge" name="contact[email]" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="message">Message</label>
        <div class="controls">
            <textarea name="contact[message]" class="input-xxlarge" id="message"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Send message</button>
        </div>
    </div>
</form>
<?php endif ;?>