<h3>History <button class="btn btn-mini" onclick="location.href='/cms/about';">back</button></h3>

Irrepressible Voices was born during the Initiative on <a target="_blank" href="http://www.collaboratory.de/w/Initiative_Menschenrechte_und_Internet">“Human Rights and the Internet”</a> by our partner
<a target="_blank" href="http://www.collaboratory.de/w/Hauptseite">Co:llaboratory</a>. To broaden the horizon of the initiative, we’ve been asking bloggers around the world to send us videos about human rights issues and answer the question, how the internet could help to enforce human rights. We’ve received an overwhelming feedback.  You can find a “best of” on our <a href=”http://www.youtube.com/watch?v=txIDa6qD9ls&list=UUJhJUEV3oU45XJlQn2z2mlg&index=3”>YouTube channel</a>.</br>
</br>
The results show: there is a need for a dedicated platform for videos with human rights issues where people can connect, discuss and work on solution proposals. This is the birth of Irrepressible Voices.
<br />

