<h3>Legal</h3>

<p><strong>Irrepressible Voices</strong><br />
c/o social impact lab Berlin<br />
Portal 1, 3. OG<br />
Erkelenzdamm 59-61<br />
10999 Berlin<br />
</p>
<p><a href="mailto:info@irrepressiblevoices.org">info@irrepressiblevoices.org</a></p>

<strong><a href=”http://beta.irrepressiblevoices.org/img/get_involved.jpg”>Picture on homepage</a>:</strong> <p>CC BY-NC-ND 2.0, Måns Adler</p></br>
<p>This website with all its features wouldn't exist without <a href="http://www.oezgueng.com/">Ötzi</a>. He spent a whole weekend at <a href="http://berlin.givecamp.de/" target="_blank">GiveCamp Berlin</a> to realize the beta version of our platform and will graciously help us to further develop it in the future.</p>
</br>
<strong>Limitation of liability for internal content</strong></p> <p>The content of our website has been compiled with meticulous care and to the best of our knowledge. However, we cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages.</p> <p>Pursuant to section 7, para. 1 of the TMG (Telemediengesetz – Tele Media Act by German law), we as service providers are liable for our own content on these pages in accordance with general laws. However, pursuant to sections 8 to 10 of the TMG, we as service providers are not under obligation to monitor external information provided or stored on our website. Once we have become aware of a specific infringement of the law, we will immediately remove the content in question. Any liability concerning this matter can only be assumed from the point in time at which the infringement becomes known to us.</p> <p><strong>Limitation of liability for external links</strong></p> <p>Our website contains links to the websites of third parties (“external links”). As the content of these websites is not under our control, we cannot assume any liability for such external content. In all cases, the provider of information of the linked websites is liable for the content and accuracy of the information provided. At the point in time when the links were placed, no infringements of the law were recognisable to us. As soon as an infringement of the law becomes known to us, we will immediately remove the link in question.</p> <p><strong>Copyright</strong></p> <p>The content and works published on this website are governed by the copyright laws of Germany. Any duplication, processing, distribution or any form of utilisation beyond the scope of copyright law shall require the prior written consent of the author or authors in question.</p> <p><strong>Data protection</strong></p> <p>A visit to our website can result in the storage on our server of information about the access (date, time, page accessed). This does not represent any analysis of personal data (e.g., name, address or e-mail address). If personal data are collected, this only occurs – to the extent possible – with the prior consent of the user of the website. Any forwarding of the data to third parties without the express consent of the user shall not take place.</p> <p>We would like to expressly point out that the transmission of data via the Internet (e.g., by e-mail) can offer security vulnerabilities. It is therefore impossible to safeguard the data completely against access by third parties. We cannot assume any liability for damages arising as a result of such security vulnerabilities.</p> <p>The use by third parties of all published contact details for the purpose of advertising is expressly excluded. We reserve the right to take legal steps in the case of the unsolicited sending of advertising information; e.g., by means of spam mail.</p></br>
</br>
<strong>Disclaimer for Facebook (Facebook Social Plug-in) </strong></br>Our website uses so called Social Plugins („Plugins) of the social network facebook.com, which is operated by Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (“Facebook”).</br>The plugins are identifiable by one of the Facebook logos (white “f” on a blue background or a “thump-up” sign) or are identified by the phrase “Facebook Social Plugin”. The list and the look of Facebook Social Plugins can be found here: developers.facebook.com/plugins. </br> Purpose and detail of the data assessment and the further use and analysis of the Data through Facebook and your thus related personal rights and control functions to protect your private data can be found in the data disclaimer of Facebook: www.facebook.com/policy.php. </br> If you are a member of Facebook and do not want Facebook to collect your data via our website and stores it in relationship to your Facebook member account, you will need to log out of Facebook prior to the visit of our website and you may also have to delete any related cookies stored locally by Facebook. </br>Furthermore it is possible to block the data generation of Facebook Plug-ins by using browser add-ons such as „Facebook Blocker“.</br>
</br>
<strong>Privacy Statement for using Google +1 </strong></br>Collection and dissemination of information: </br>With the help of Google +1 button you can publish information worldwide. With the Google +1button you and other users receive personalized content from Google and our partners. Google stores both the information that you have given for a content +1, as well as information about the page you viewed when you click +1. Your +1 can be viewed as notes with your profile name and photo in Google services, such as in search results or in your Google profile, or displayed other on places on web sites and ads. on the Internet. Google records information about your +1 activities to improve Google’s services for you and others. To use the Google +1 button, you need a globally visible, public Google profile that must at least include the chosen name. This name is used in all Google services. In some cases, this name can also replace another name that you used when sharing content via your Google account. The identity of your Google profile can be shown to users who know your e-mail address or other identification they use about you.</br></br> Usage of the information collected: </br>In addition to the above uses, the information that you provide will be used in accordance with the applicable Google privacy policies. Google may release aggregate statistics about users’ activities or +1 transmits them to users and partners, such as publishers, advertisers or related sites.</br>
</br>
<strong>Privacy Policy for the use of Twitter</strong></br>On our site of the service functions of Twitter are integrated. These functions are offered by Twitter, Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA. </br>Through the use of Twitter and the “Re-Tweet” the web pages you visit will be linked to your Twitter account and other users will be informed. Therefore data will also be sent to Twitter. We point out that as providers of the sites, we have no knowledge of the content of the transmitted data and use them through Twitter.</br></br>For more information, please see the privacy statement of Twitter at http://twitter.com/privacy. Your privacy settings on Twitter can be changed by visiting account settings under http://twitter.com/account/settings.</br>
</br>
<p>Sources: </p> <p><a href="http://www.mustervorlage.net/disclaimer-muster#Englisch">Disclaimer in English</a></p> <p><a href=”http://www.oberhummer.com/static/blog/uebersetzung-facebook-disclaimer-englisch.htm”> Facebook Disclaimer</a><p><a href=”http://boardsickness.de/disclaimer/”>Google +1 and Twitter Disclaimer</a>

