<h1>Administration:: Uploaded Files</h1>

<table class="table">
    <thead>
        <tr>
            <td>&nbsp;</td>
            <td>Datum Upload</td>
            <td>User</td>
            <td>Title</td>
            <td>Place</td>
            <td>Filetype</td>
            <td>Filesize</td>
        </tr>
    </thead>
<?php foreach($this->files as $value): ?>
    <tr>
        <td>#<?php echo $value['upload_id'] ?></td>
        <td><?php echo $value['upload_date'] ?></td>
        <td><?php echo $value['user_username'] ?></td>
        <td><?php echo $value['upload_title'] ?></td>
        <td><?php echo $value['upload_place'] ?></td>
        <td><?php echo $value['upload_filepicker_mimetype'] ?></td>
        <td><?php echo $this->filesize($value['upload_filepicker_size']) ?></td>
        <td>
            <a target="_blank" href="/testvideo.php?url=<?php echo urlencode($value['upload_filepicker_url']) ?>">Show Video</a><br />
            <button class="btn btn-success"
                    onclick="location.href='/admin/uploadedfiles/<?php echo $value['upload_id'] ?>/uploadyt/';">Upload to YT</button>
            <button class="btn btn-danger"
                    onclick="if(confirm('Are you sure?')) { location.href='/admin/uploadedfiles/<?php echo $value['upload_id'] ?>/delete/'; } ">Delete</button>
        </td>
    </tr>

<?php endforeach; ?>
</table>